@page
@model SFAMarketplaceWEB.Pages.Account.ProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ProfileStyleSheet.css" />
}

<div class="profile-container">
    <div class="profile-header">
        <img src="https://via.placeholder.com/200" alt="Profile Image" class="profile-image" />
        <h1>@Model.profile.FirstName @Model.profile.LastName</h1>
    </div>

    <div class="profile-detail">
        <label>Username:</label>
        <span>@Model.profile.Username</span>
    </div>

    <div class="profile-detail">
        <label>First Name:</label>
        <span>@Model.profile.FirstName</span>
    </div>
    <div class="profile-detail">
        <label>Last Name:</label>
        <span>@Model.profile.LastName</span>
    </div>
    <div class="profile-detail">
        <label>Email:</label>
        <span>@Model.profile.Email</span>
    </div>
    <div class="profile-detail">
        <label>Last Login:</label>
        <span>@Model.profile.LastLoginTime.ToString("f")</span>
    </div>
    <div class="profile-footer">
        <!-- NOT FINISHED -->
        <p>(Editing profiles not finished yet)</p>
        <a class="btn btn-primary" href="/Account/Menus/EditProfile">Edit Profile</a> 
    </div>

</div>
